.footer {
    padding: 5rem 0 6rem;
    background: #e8f2fc;
}

.footer__company {
    margin-bottom: 3.2rem;
}

.footer__logo {
    margin-bottom: 1.4rem;
}

.footer__logo-icon {
    width: 18.7rem;
    height: 1.8rem;
}

.footer__description {
    font-size: 1.4rem;
    line-height: 125%;
    color: #969eb1;
    margin-bottom: 2.6rem;
    margin-top: 1.5rem;
}

.footer__purple {
    font-weight: 700;
    color: #702a8a;
}

.footer__blue {
    font-weight: 700;
    color: #1065ff;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

.footer__social-icon {
    width: 5.3rem;
    height: 5.3rem;
}

.footer__social-icon--tg {
    width: 6rem;
    height: 6rem;
}

.footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 2rem;
    margin-bottom: 3.3rem;
}

.footer__section {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.footer__section--large {
    grid-column: span 2;
}

.footer__title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #212121;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.footer__link {
    font-size: 1.8rem;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #6c778e;
}

.footer__payment {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin-bottom: 3.6rem;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
}

.footer__watermark,
.footer__info,
.footer__redesign {
    font-size: 1.6rem;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #6c778e;
}

.footer__developer {
    color: #2eb897;
    font-weight: 700;
}

@media (min-width: 768px) {
    .footer__nav {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .footer__section--large {
      grid-column: span 1;
    }
  }
  
  @media (min-width: 1024px) {
    .footer__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }
  }

@media (min-width: 1600px) {
    .footer {
        padding: 6rem 0;
    }

    .footer__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
    }

    .footer__company {
        margin-bottom: 0;
    }

    .footer__logo-icon {
        width: 26rem;
        height: 2.4rem;
    }

    .footer__description {
        margin-bottom: 4rem;
    }

    .footer__social-icon {
        width: 7rem;
        height: 7rem;
    }

    .footer__social-icon--tg { 
        width: 8rem;
        height: 8rem;
    }

    .footer__nav {
        display: flex;
        gap: 4rem;
        justify-content: space-between;
        grid-column: span 3;
        margin-bottom: 0;
    }

    .footer__section,
    .footer__list {
        gap: 3rem;
    }

    .footer__title,
    .footer__link {
        font-size: 2.2rem;
    }

    .footer__payment {
        grid-column: 3 / span 2;
        order: 2;
        margin-bottom: 0;
        align-items: start;
        justify-content: flex-end;
    }

    .footer__copyright {
        grid-column: 1 / span 2;
        order: 1; 
    }
}